@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.hero-image-overlay {
  background-image: url("/hero-bg.png");
}

.car-details-pattern {
  background-image: url("/pattern.png");
}
